<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/public/login.css")
    
  body#bg-img-login
    div#titleboard My Personal Library
    div.container       
      form.loginform(action='/login', method='post')
        div
          h3.center Please Login:
          input(type='text', name='username', placeholder="Username")
        div
          input(type='password', name='password', placeholder="Password")
        div
          input(type='submit', value='Log In')
      div#messageboard
        h2.text #{incorrect}
        h2.text #{message}
        br
       
      form.loginform(action='/register', method='post')
        div
          h3.center Create a new account
          input(type='text', name='username', placeholder="Username")
        div            
          input(type='password', name='password', placeholder="Password")
        div
          input(type='submit', value='Create Account')